.account-box .dropdown-menu>li>a:hover,
.account-box .dropdown-menu>li>a:focus,
.portfolioFilter a.current,
.portfolioFilter a:hover,
.portfolioFilter a:focus,
.cp_product-section .box .thumb:hover .caption a,
.footer-social ul li a:hover,
.cp_best-seller .owl-theme .owl-controls .owl-buttons div:hover,
.blog-style-2 .box:hover .icon-box,
.releases-box-color-1,
.cp_customer-section-3,
.cp_facts-style-1,
.footer-social-2 ul li a:hover,
#cp_saloon-banner .bx-wrapper .bx-pager.bx-default-pager a:hover,
#cp_saloon-banner .bx-wrapper .bx-pager.bx-default-pager a.active,
.cp_product-style-3,
.cp_brands-section-3,
.cp_footer-form .holder .material .material-bar:before,
.cp_footer-form .holder .material .material-bar:after,
#cp_eye-wear-banner .bx-wrapper .bx-pager.bx-default-pager a:hover,
#cp_eye-wear-banner .bx-wrapper .bx-pager.bx-default-pager a.active,
.cp_furniture-shipping-section-3,
.cp_experties-section .box .icon-box,
.cp_best-services .text-box-2 ul li:before,
.cp_collection-section .nav-tabs>li.active>a,
.cp_collection-section .nav-tabs>li.active>a:hover,
.cp_collection-section .nav-tabs>li.active>a:focus,
.tab-text-box .slider-box .bx-wrapper .bx-pager.bx-default-pager a:hover,
.tab-text-box .slider-box .bx-wrapper .bx-pager.bx-default-pager a.active,
.cp_price-box ul:before,
.cp_price-box:hover .price-box,
.commingsoon-social li:hover a,
.cp_commingsoon-style-1 .holder .text-box strong.title a.btn-here:hover,
.accordion-style-2 .accordion-open,
.cp_pagination .pagination>li>a:hover,
.cp_pagination .pagination>li>span:hover,
.cp_pagination .pagination>li>a:focus,
.cp_pagination .pagination>li>span:focus,
.cp_all-products h4,
.cp_tags ul li a:hover,
.cp-contact-widget .box .caption a.zoom:hover,
.cp-contact-widget .box .caption a.link:hover,
.cp_featured-products .text-box span.discunt,
.grid-row .nav-tabs>li.active>a,
.grid-row .nav-tabs>li.active>a:hover,
.grid-row .nav-tabs>li.active>a:focus,
.cp_product-list-like-box a:hover,
.cp_product-list-box .frame .caption strong.new,
.cp_gallery .box .frame .caption .inner a.zoom:hover,
.cp_gallery .box .frame .caption .inner a.link:hover,
.cp_text-gallery .frame .caption .inner a.zoom:hover,
.cp_text-gallery .frame .caption .inner a.link:hover,
.cp_related-projects .slide .caption .inner a.zoom:hover,
.cp_related-projects .slide .caption .inner a.link:hover,
.cp-login-box button, input[type="submit"].orange,
.cp-signup-box button {
    background-color: #ff4900;
}

.cp-mega-menu>ul>li:hover>a,
.cp_categories-section .box .caption h3,
#wrapper .rating-stars ul li a,
.testimonials-data strong.name,
.cp_shipping-box:hover .cp_icon,
.cp_tweets-box .fa,
.cp_tweets-box span.time,
.cp-arrivals-box ul li:hover a.cart,
.cp_filter-style-2.portfolioFilter a.current,
.cp_filter-style-2.portfolioFilter a:hover,
.cp_filter-style-2.portfolioFilter a:focus,
.cp_best-seller .text-box .holder strong.name,
.cp-on-sale .text-box .holder strong.name,
.admin-row ul li a:hover,
.cp_testimoniols-1 a.web,
.cp_furniture-shipping-section .cp_shipping-box .cp_icon,
.cp_services-box:hover .icon-box,
.cp_choose-list ul li:hover,
#cp_saloon-banner .caption .holder h1,
#cp_shoes-banner .caption .holder h1,
.cp_summer-collection .box span.new,
.cp_footer-form .holder .material .material-input *:focus~label,
.cp_footer-form .holder .material .material-input .filled~label,
.cp_footer-form .holder .material .error:focus~label,
.cp_footer-form .holder .material .material-input input,
.cp_footer-form .holder .material .material-input textarea,
#cp_furniture-banner.cp_woman-banner .caption .holder h1,
.tab-text-row .box strong.price,
.post-row strong.name,
.post-row .comment-row a:hover,
.cp_post-box blockquote em,
.cp_post-box blockquote:after,
.cp_archives ul li a .fa,
.cp_blog-grid .text-box .author-box-outer strong.name,
.cp_product-list-box .rating li a,
.cp_product-list-box .detail-box strong.cut-price,
.cp_product-list-box .detail-box strong.price,
.product-rating li a,
.product-detail-box .text-col strong.cut-price,
.product-detail-box .text-col strong.price,
.cp-availability .share ul li a:hover,
.deal-box .text-box strong.price,
.cp-deals-list .text-box strong.price,
.cp-deals-list ul li:hover strong.title a {
    color: #ff4900;
}

.cp-mega-menu .drop-down,
.cp_shipping-section,
.blog-style-2 .box .thumb:after,
.cp_furniture-shipping-section .cp_shipping-box,
.cp_services-box:hover .icon-box,
.cp_footer-style-2,
.cp_answers a.btn-contact:hover,
.cp-post-text-style-1 a.btn-read-more:hover,
#wrapper .cp-post-text-style-2 a.btn-read-more {
    border-color: #ff4900;
}

.cp_price-box:hover .price-box:before {
    border-color: #ff4900 transparent transparent;
}

a.btn-style-1,
.cp-mega-menu .search-bar ul input[type=submit],
.cp_footer-section-1 .box input[type="submit"],
.cp_furniture-footer-section-1.cp_furniture-footer-section-1 .box input[type="submit"]:hover,
.cp_footer-form .holder input[type="submit"],
.error-page .holder button,
.cp_price-box:hover a.btn-buy,
.cp_answers a.btn-contact,
.cp-post-text-style-1 a.btn-read-more,
.comment-box input[type="submit"],
.cp_blog-grid .text-box a.btn-more,
.cp_contact-style-1 input[type="submit"],
.cp_contact-style-2 .holder form input[type="submit"],
.cp_contact-style-6 form input[type="submit"],
.cp_contact-modal .modal-body form input[type="submit"],
.quantity-box .btn-buy,
.cp_text-gallery .text-box a.btn-detail,
.cp_text-gallery .text-box a.btn-detail {
    /*background-color: #ff4900;*/
}

#footer .cp_shipping-section {
    border-color: #35282c;
}

.cp_pagination .pagination li.active a {
    background-color: #ff4900;
    color: #fff;
}