.margin-top-30{margin-top: 30px;}
.margin-btm-30{margin-bottom: 30px;}
.margin-tb-30{margin: 30px 0;}
.margin-30{margin: 30px;}

.margin-top-40{margin-top: 40px;}
.margin-btm-40{margin-bottom: 40px;}
.margin-tb-40{margin: 40px 0;}
.margin-40{margin: 40px;}

.margin-top-20{margin-top: 20px;}
.margin-btm-20{margin-bottom: 20px;}
.margin-btm-10{margin-bottom: 10px;}
.margin-tb-20{margin: 20px 0;}
.margin-side-20{margin-left: 20px; margin-right: 20px; }
.margin-20{margin: 20px;}

.margin-top-50{margin-top: 50px;}
.margin-btm-50{margin-bottom: 50px;}
.margin-tb-50{margin: 50px 0;}
.margin-50{margin: 50px;}

.padding-top-50{padding-top: 50px;}
.padding-top-20{padding-top: 20px;}
.padding-top-30{padding-top: 30px;}
.padding-top-40{padding-top: 40px;}
.padding-tb-50{padding-top: 50px;padding-bottom: 50px;}
.padding-tb-30{padding-top: 30px;padding-bottom: 30px;}
.padding-tb-20{padding-top: 20px;padding-bottom: 20px;}
.padding-tb-40{padding-top: 40px;padding-bottom: 40px;}
.padding-btm-50{padding-bottom: 50px;}
.padding-btm-20{padding-bottom: 20px;}
.padding-btm-10{padding-bottom: 10px;}
.padding-btm-30{padding-bottom: 30px;}
.padding-btm-40{padding-bottom: 40px;}
.padding-10{padding: 10px;}
.padding-20{padding: 20px;}

.deleteImage {
	position: relative;
}
.deleteImage .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
}
.thumbnailz {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s;
}
.thumbnailz a > img, .thumbnailz > img {
    margin-left: auto;
    margin-right: auto;
}
a.thumbnailz.active, a.thumbnailz:focus, a.thumbnailz:hover {
    border-color: #337ab7;
}
.thumbnailz .caption {
    color: #333;
    padding: 9px;
}

.shopping-cart{padding:10px 0; min-height:100px;}
.shopping-cart .title{font-size:14px;}
.animate> * {
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s;
}

/*div table*/
layout-table
{
    display : table;
    clear : both;
    table-layout : fixed;
    width : 100%;
}

layout-table:unresolved
{
    color : red;
    border: 1px blue solid;
    empty-cells : show;
}

layout-header, layout-footer, layout-row 
{
    /*display : table-row;*/
    clear : both;   
    empty-cells : show;
    width : 100%;
}

layout-header, layout-footer
{
    font-weight:bold; font-size:1.1em;
}

layout-header .normal-text, layout-footer .normal-text
{
    font-weight:normal;
}

layout-column 
{ 
    display : table-column;
    float : left;
    empty-cells : show;
    box-sizing: border-box;
    /* border: 1px solid white; */
    padding : 6px 5px 6px 1px;
}

layout-row:nth-child(even)
{ 
    background-color : #fafafa;
}

layout-row:hover 
{ background-color: #f5f5f5 }

.divCellWidth-10, .divdata .divCellWidth-10{width:10%;min-width : 10%;}
.divCellWidth-15, .divdata .divCellWidth-15{width:15%;min-width : 15%;}
.divCellWidth-20, .divdata .divCellWidth-20{width:20%;min-width : 20%;}
.divCellWidth-30, .divdata .divCellWidth-30{width:30%;min-width : 30%;}
.divCellWidth-25, .divdata .divCellWidth-25{width:25%;min-width : 25%;}
.divCellWidth-40, .divdata .divCellWidth-40{width:40%;min-width : 40%;}
.divCellWidth-50, .divdata .divCellWidth-50{width:50%;min-width : 50%;}
.divCellWidth-75, .divdata .divCellWidth-75{width:75%;min-width : 75%;}

.table.no-btm{margin-bottom:0;}
#view-cart-btn .btn{padding: 6px 3px;}
.address_label{ text-transform:none; font-size:1.1em;}
#new-address.box, #existing-address.box, .product-actions.box{ border:1px solid #ccc; border-radius:3px; padding:5px;}

#my-shopping-cartz .table > tbody > tr > td, #my-shopping-cartz .table > tbody > tr > th, #my-shopping-cartz .table > tfoot > tr > td, 
#my-shopping-cartz .table > tfoot > tr > th, #my-shopping-cartz .table > thead > tr > td, #my-shopping-cartz .table > thead > tr > th {
    border-top: 0;
}

.text-bigger{font-size:3em;font-weight:bold;}
.text-big{font-size:1.5em;}
.text-bold{font-weight:bold;}
.text-caps{ text-transform:uppercase;}

.description p:not(:first-child) {
    margin-top:16px;
}



input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error
{
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-required {
  color: #B94A48;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.cp_collection-section {
    background-color: #f4f4f4;
    display: block;
    margin: 0;
	padding: 20px;
}
.cp_collection-section .item {
    color: #111;
    display: block;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 35px;
    line-height: 35px;
    outline: medium none;
    /*padding: 0 0 0 10px;*/
}

.media.v-middle .media-body > *:first-child {
    margin-top: 0;
}
.media .media-heading {
    margin-bottom: 10px;
}
.media-heading {
    margin-bottom: 10px;
}
.text-title {
    font-size: 1.53rem;
    font-weight: 500;
}
.media-body > *:last-child {
    margin-bottom: 0;
}
.text-caption {
    font-size: 0.92em;
    font-weight: 400;
}
.media.v-middle .media-left, .media.v-middle .media-right, .media.v-middle .media-body {
    vertical-align: middle;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-body {
    width: 10000px;
}
.media, .media-body {
    overflow: hidden;
}
.media-body .h4 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.image-size {
    background: rgba(204, 204, 204, 0.7) none repeat scroll 0 0;
    bottom: 0;
    padding: 2px 2px 2px 4px;
    position: absolute;
    right: 0;
    width: 100%;
}
.text-myellow{ color:#f1c40f; }
.text-maroon{ color:#900; }
.text-taller{min-height:2em;height:2em; line-height:3em;}
.vertical-alignn {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.export-reports{display: table;}
.report-centered {
    display: table-cell;
    vertical-align: middle;display: inline-block;
}
.edit_image{ position:absolute; top:30px; left:30px;}

/* start file input */
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.fileContainer {
    background: #65cfc7;
    border-radius: .5em;
    float: left;
    padding: .5em;
}
.fileContainer:hover {
    background: #1fb5a8;
}

.fileContainer [type=file] {
    cursor: pointer;
}
/* end file input */

.panel-light-bg{background:#fafafa;}

#mybootgrid tbody tr{ cursor:pointer;}

.form-control.datepicker[readonly] {
    background-color: #fff;
    opacity: 1;border-radius: 4px;
}
.relative{position:relative;}
.box-bottom{position:absolute;bottom:10px;}

.textbox-noborder{ border:none; box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;}
.form-control.datetimepicker[readonly] {
    background-color: #fff;
    border-radius: 4px;
    opacity: 1;
}
a.textbox-link{color:#1aac9f;}
.item .text-box2 {}
.relative{ position:relative;}
.absolute{ position:absolute;}