.e-commerce .img-div {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 463px;
    position: relative;
    width: 100%;
}
.e-commerce .section-header.cards-section {
    padding-left: 12px;
}
[dir="rtl"] .e-commerce .section-header.cards-section {
    padding-left: 0;
    padding-right: 12px;
}
.e-commerce .section-header h5 {
    font-size: 21px;
}
.e-commerce .card .card-image .card-category {
    background: #ffffff none repeat scroll 0 0;
    border: 3px solid #ffffff;
    border-radius: 50%;
    bottom: -28px;
    height: 60px;
    position: absolute;
    right: 15px;
    text-align: center;
    width: 60px;
}
.e-commerce .card .card-image .card-category img {
    border-radius: 50%;
    max-width: 100%;
}
.e-commerce .card .card-image .card-category i {
    color: #bbbabb;
    font-size: 2.5em;
    padding: 10px;
}
.e-commerce .card .card-content.has-category {
    padding-top: 30px;
}
.e-commerce .card .card-action > a.icon-link {
    color: #bbbabb !important;
    font-size: 12px;
}
.e-commerce .card .card-action > a.icon-link i::before {
    display: inline-block;
}
.e-commerce .card.e-com .card-image .minimalCard-bubble {
    background-color: rgba(242, 179, 83, 0.8);
    border-radius: 50%;
    height: 60px;
    left: 12px;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 60px;
    z-index: 1;
}
.e-commerce .card.e-com .card-image .minimalCard-bubble p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding-top: 13px;
}
[dir="rtl"] .e-commerce .card.e-com .card-image .minimalCard-bubble {
    left: 0;
    right: 12px;
}
.e-commerce .card.e-com .card-image .card-ribbon {
    background-color: rgba(242, 179, 83, 0.8);
    color: white;
    height: 40px;
    left: 20px;
    position: absolute;
    transition: height 0.5s ease 0s;
    width: 60px;
    z-index: 3;
}
.e-commerce .card.e-com .card-image .card-ribbon p {
    font-size: 21px;
    font-weight: 600;
    margin-top: 10px;
}
.e-commerce .card.e-com .card-image .card-ribbon::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(242, 179, 83, 0.8) rgba(242, 179, 83, 0.8) transparent;
    border-image: none;
    border-style: solid;
    border-width: 10px 30px 20px;
    color: white;
    content: "";
    font-size: 0.5em;
    left: 0;
    position: absolute;
    top: 40px;
    transition: height 0.5s ease 0s;
    z-index: 3;
}
[dir="rtl"] .e-commerce .card.e-com .card-image .card-ribbon {
    left: auto;
    right: 20px;
}
.e-commerce .card.e-com .card-image .card-title {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.65)) repeat scroll 0 0;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 6px;
    padding-top: 6px;
    width: 100%;
}
.e-commerce .card.e-com .card-action {
    padding: 10px;
}
.e-commerce .card.e-com .card-action .e-commerceBtn, .e-commerce .card.e-com .card-action .prod-panel .product-actions .e-commerceBtn1, .e-commerce .prod-panel .product-actions .card.e-com .card-action .e-commerceBtn1, .e-commerce .card.e-com .card-action .prod-panel .product-actions .e-commerceBtn2, .e-commerce .prod-panel .product-actions .card.e-com .card-action .e-commerceBtn2 {
    background-color: #4bb1d2;
    border: 0 none;
    border-radius: 4px;
    font-size: 19px;
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: none;
}
.e-commerce .card.e-com .card-action .card-btn {
    margin: 20px 0 20px 44px;
}
[dir="rtl"] .e-commerce .card.e-com .card-action .card-btn {
    margin: 20px 44px 20px 0;
}
.e-commerce .card.e-com .card-action .disc-btn {
    margin: 20px 0 20px 65px;
}
[dir="rtl"] .e-commerce .card.e-com .card-action .disc-btn {
    margin: 20px 65px 20px 0;

}
.e-commerce .card.e-com .card-action i {
    color: #c8c8c8;
    font-size: 35px;
    margin: 20px 0;
    padding-right: 19px;
}
.e-commerce .card.e-com .card-action .share-btn {
    margin: 20px;
}
.e-commerce .card.e-com .card-action .minimal-price {
    margin-bottom: 0 !important;
    padding-bottom: 3px;
}
.e-commerce .card.e-com .card-action .minimal-price .p-price1 {
    color: #656565;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.e-commerce .card.e-com .card-action .minimal-price .p-price2 {
    color: #ff5b7d;
    font-size: 14px;
    position: absolute;
    vertical-align: top;
}
.e-commerce .card.e-com .card-category {
    border: 0 none;
    bottom: -16px;
    box-shadow: 0 1px 3px 0 #a7a7a7;
    height: 75px;
    line-height: 75px;
    right: 28px;
    width: 75px;
}
.e-commerce .card.e-com .card-category p {
    color: #656565;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
@media (max-width: 480px) {
.e-commerce .card.e-com .card-category {
    height: 50px;
    right: 15px;
    width: 50px;
}
.e-commerce .card.e-com .card-category p {
    font-size: 16px;
    line-height: 50px;
}
}
[dir="rtl"] .e-commerce .card.e-com .card-category {
    left: 28px;
    right: auto;
}
.e-commerce .slider {
    height: 700px !important;
    margin-bottom: 9px;
}
@media (max-width: 1680px) {
.e-commerce .slider {
    height: 600px !important;
}
}
@media (max-width: 1380px) {
.e-commerce .slider {
    height: 500px !important;
}
}
@media only screen and (max-width: 600px) {
.e-commerce .slider {
    overflow-y: scroll;
}
}
.e-commerce .slider .slides {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: initial !important;
}
.e-commerce .slider .indicators {
    bottom: -30px;
}
.e-commerce .slider .indicators .indicator-item {
    height: 17px !important;
    width: 17px !important;
}
.e-commerce .slider .indicators .active {
    background-color: #999 !important;
}
.e-commerce .minimal-bubble {
    background-color: #fd9fb1;
    border-radius: 50%;
    height: 60px;
    position: absolute;
    text-align: center;
    width: 60px;
}
.e-commerce .prod-panel {
    padding: 0;
}
.e-commerce .prod-panel .product-panel-trigger {
    margin: 20px;
}
.e-commerce .prod-panel .panel-slides {
    margin-bottom: 0;
    margin-top: 10px;
}
.e-commerce .prod-panel .panel-slides .sliderImg {
    width: 100%;
}
.e-commerce .prod-panel .panel-slides .sliderImg2 {
    width: 100%;
}
.e-commerce .prod-panel .carousel-container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #e8e8e8 #e8e8e8;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    height: 130px;
    margin-top: -5px;
}
.e-commerce .prod-panel .carousel-container .carousel-spacer {
    height: 10px;
    margin-bottom: 0;
}
.e-commerce .prod-panel .carousel-container .carousel {
    height: 150px;
    perspective: 400px;
}
.e-commerce .prod-panel .carousel-container .carousel .carousel-item img {
    max-height: 135px;
}
.e-commerce .prod-panel .modal {
    overflow-y: auto;
    width: 80%;
}
.e-commerce .prod-panel .modal .modal-dialog {
    width: 100%;
}
.e-commerce .prod-panel .modal .modal-close {
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.e-commerce .prod-panel .product-details {
    color: #656565;
}
.e-commerce .prod-panel .product-details h2 {
    color: black;
    font-size: 30px;
    margin-top: 5px;
}
.e-commerce .prod-panel .product-details .paragraph1 {
    margin-top: 12px;
}
.e-commerce .prod-panel .product-details p {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: -5px;
}
.e-commerce .prod-panel .product-actions {
    border-left: 1px solid #e8e8e8;
    color: #656565;
    /*height: 400px;*/
    /*padding: 0 20px;*/
}
[dir="rtl"] .e-commerce .prod-panel .product-actions {
    border-left: 0 none;
    border-right: 1px solid #e8e8e8;
}
.e-commerce .prod-panel .product-actions .span1 {
    color: #b10a42;
    font-size: 28px;
}
.e-commerce .prod-panel .product-actions p {
    font-size: 15px;
    margin-bottom: 6px;
    margin-top: 15px;
}
.e-commerce .prod-panel .product-actions .size-btn {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #a7a7a7;
    color: #656565;
    margin-right: 2.5%;
    padding: 0;
    width: 15.5%;
}
.e-commerce .prod-panel .product-actions .disabled-btn {
    background-color: #e8e8e8;
}
.e-commerce .prod-panel .product-actions .transportation i {
    font-size: 24px;
}
.e-commerce .prod-panel .product-actions .transportation span {
    font-size: 16px;
    margin-left: 15px;
}
[dir="rtl"] .e-commerce .prod-panel .product-actions .transportation span {
    margin-left: 0;
    margin-right: 15px;
}
.e-commerce .prod-panel .product-actions .e-commerceBtn, .e-commerce .prod-panel .product-actions .e-commerceBtn1, .e-commerce .prod-panel .product-actions .e-commerceBtn2 {
    border-radius: 4px;
    font-size: 18px;
    /*height: 50px;*/
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    width: 100%;
}
.e-commerce .prod-panel .product-actions .e-commerceBtn1 {
    /*background-color: #900;*/
    border: 0 none;  color: #fff;
}
.e-commerce .prod-panel .product-actions .e-commerceBtn1:hover {
    background-color: #ff4900;
}


.e-commerce .prod-panel .product-actions .e-commerceBtn2 {
    /*background-color: #900;*/
    border: 1px solid #b10a42;
    color: #fff;
    font-weight: 300;
    margin-top: 10px;
}
.e-commerce .prod-panel .product-actions .e-commerceBtn2:hover {
    background-color: #ff4900;
}
.e-commerce .prod-panel .product-actions .e-commerceBtn2 i {
    margin-right: 5px;
}
[dir="rtl"] .e-commerce .prod-panel .product-actions .e-commerceBtn2 i {
    margin-left: 5px;
    margin-right: 0;
}
@media (min-width: 1025px) and (max-width: 1456px) {
.e-commerce .prod-panel .product-actions {
    height: 430px !important;
    padding-left: 10px !important;
    padding-right: 0 !important;
}
.e-commerce .prod-panel .product-actions .size-btn {
    height: 30px;
    line-height: 30px;
}
.e-commerce .prod-panel .product-actions .transportation i {
    font-size: 20px !important;
}
.e-commerce .prod-panel .product-actions .transportation span {
    margin-left: 5px !important;
}
.e-commerce .prod-panel .product-actions .e-commerceBtn, .e-commerce .prod-panel .product-actions .e-commerceBtn1, .e-commerce .prod-panel .product-actions .e-commerceBtn2 {
    font-size: 16px !important;
    width: 100% !important;
}
.e-commerce .prod-panel .product-actions .e-commerceBtn2 i {
    margin-right: 2px !important;
}
}
@media (min-width: 600px) and (max-width: 1024px) {
.e-commerce .prod-panel .product-actions {
   /* height: 440px !important;*/
}
.e-commerce .prod-panel .product-actions .transportation i {
    font-size: 20px !important;
}
.e-commerce .prod-panel .product-actions .transportation span {
    margin-left: 5px !important;
}
}
@media (min-width: 600px) and (max-width: 718px) {
.e-commerce .prod-panel .size-btn {
    height: 30px;
    line-height: 30px;
}
.e-commerce .prod-panel .e-commerceBtn, .e-commerce .prod-panel .product-actions .e-commerceBtn1, .e-commerce .prod-panel .product-actions .e-commerceBtn2 {
    font-size: 16px !important;
    width: 100% !important;
}
.e-commerce .prod-panel .e-commerceBtn2 i {
    margin-right: 2px !important;
}
}
@media (max-width: 599px) {
.e-commerce .prod-panel .product-details {
    margin-top: 10px !important;
}
.e-commerce .prod-panel .product-actions {
    border: 0 none !important;
    margin-top: 10px !important;
    padding-left: 10px !important;
}
}
.e-commerce-products {
    padding: 0 15px;
}
.e-commerce-products .edit-product {
    border-radius: 50%;
    font-size: 20px;
    height: 40px;
    width: 40px;
}
.e-commerce-products .edit-product .zmdi-edit {
    line-height: 40px;
}
.e-commerce-products .edit-product .zmdi-more {
    line-height: 40px;
}
.e-commerce-products #products-table_wrapper table.dataTable {
    border-collapse: collapse;
}
.e-commerce-products .product-image {
    border: 1px solid rgba(0, 0, 0, 0.12);
    height: 52px;
    width: 52px;
}
.e-commerce-products .quantity-div {
    -moz-box-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    display: inline-flex;
    max-width: 100%;
}
.e-commerce-products .quantity-div .quantity-indicator {
    border-radius: 4px;
    height: 8px;
    margin-right: 8px;
    width: 8px;
}
.e-commerce-products table tbody tr td .row {
    display: flex;
    margin-bottom: 0;
}