@media (max-width: 480px) {
    .cp_bg_white {
		padding-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}
	#cp_store-banner .caption,
    #cp_eye-wear-banner .caption,
    #cp_jewellery-banner .caption,
    #cp_furniture-banner .caption,
    #cp_electronic-banner .caption,
    #cp_saloon-banner .caption {
        display: none;
    }
    .left-box strong.call {
        padding-right: 10px;
    }
    .left-box ul li {
        font-size: 10px;
        padding: 0 3px;
    }
    .right-box .account-box {
        margin: 0 5px 10px 0;
    }
    .portfolioFilter a {
        font-size: 12px;
        padding: 5px 13px;
    }
    .portfolioContainer {
        margin: 0;
    }
    .portfolioContainer li {
        width: 100%;
        margin: 0 0 30px;
    }
    .cp_product-section .box,
    .cp_product-section .box .thumb,
    .post-row .comment-row {
        width: 100%;
    }
    #wrapper .cp_brands-box .row .col-md-2 {
        width: 50%;
    }
    .cp_shipping-box {
        padding: 20px 0 20px 20px;
    }
    #wrapper .cp_trends-section .holder {
        padding: 50px 20px;
    }
    .cp_gents-banner .bx-wrapper .bx-pager,
    #cp_furniture-banner.cp_woman-banner .bx-wrapper .bx-pager,
    #cp_furniture-banner.cp_woman-banner .bx-wrapper .bx-controls-auto {
        bottom: 10px;
    }
    #cp_electronic-banner .bx-wrapper .bx-prev,
    #cp_furniture-banner .bx-wrapper .bx-prev {
        left: 10px;
    }
    #cp_electronic-banner .bx-wrapper .bx-next,
    #cp_furniture-banner .bx-wrapper .bx-next {
        right: 10px;
    }
    .cp_shipping-box {
        margin: 0 0 20px;
    }
    #wrapper .comments ul ul {
        padding-left: 0;
    }
    .error-page .holder input[type="text"] {
        font-size: 12px;
    }
    .cp-post-text-style-1 {
        padding: 0 10px;
    }
    .post-row .comment-row a {
        margin: 0 0 0 10px;
    }
    .cp-post-text-style-2 .author-box {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .cp-post-text-style-2 .post-author-frame {
        display: inline-block;
        float: none;
    }
    .cp_blog-grid .text-box .like-row a {
        padding: 0 8px;
    }
    .cp-book-slider-row .bottom-holder .outer {
        width: 100%;
    }
    .cp-book-slider-row .bottom-holder {
        padding: 10px 0;
    }
    .cp-book-slider-row .bottom-holder .book-logo {
        display: none;
    }
    .cp_commingsoon-style-1 .holder .text-box strong.title a.btn-here {
        float: none;
        display: inline-block;
        margin: 20px 0 0;
    }
    #cp_inner-banner h1 {
        font-size: 20px;
        line-height: 20px;
    }
    .accordion_cp {
        padding: 10px 15px;
        font-size: 12px;
    }
    .accordion-close span {
        font-size: 14px;
    }
    .cp_answers strong.title {
        font-size: 13px;
        line-height: 14px;
    }
    .cp_product-list-box .detail-box {
        padding: 15px 20px;
    }
    .cp_product-list-box .heading-row strong.title {
        font-size: 14px;
    }
    #cp_shoes-banner .bx-wrapper .bx-pager,
    #cp_shoes-banner .bx-wrapper .bx-controls-auto {
        left: 0;
        bottom: 10%;
        width: 100%;
    }
    .cp-mega-menu .drop-down.two-column ul,
    .cp-mega-menu .drop-down.full-width ul {
        width: 100%;
    }
    .cp_footer-box>ul>li {
        width: 24.5%;
    }
    .release-item .thumb::after {
        width: 220px;
    }
    .cp-signup-box .cp-name li,
    .cp-signup-box .cp-name li:last-child {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .cp_bg_white {
		padding-bottom: 20px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.cp-mega-menu>label {
        left: inherit;
        right: 0;
        /*top: 5px;*/
    }
    .cp-mega-menu>ul {
        height: 60px;
    }
    .cp-mega-menu ul .title {
        padding: 0;
    }
    .cp-mega-menu>ul>li>a {
        line-height: 60px;
        margin: 0;
        text-align: inherit;
    }
    .cp-mega-menu>ul>.login-form:hover,
    .cp-mega-menu>ul>.search-bar:hover,
    .cp-mega-menu>ul>li:hover>a {
        color: #000;
    }
    .cp-mega-menu .drop-down {
        padding-top: 0;
    }
    .navigation-row strong.logo a img {
        width: auto;
    }
    #cp_store-banner .caption {
        height: auto;
        top: 30px;
        left: 0;
        text-align: center;
    }
    #cp_store-banner .caption .holder {
        max-width: 100%;
    }
    #cp_store-banner .caption em {
        font-size: 20px;
        line-height: 20px;
        padding: 0 0 30px;
    }
    #cp_store-banner .caption h1 {
        font-size: 48px;
        line-height: 48px;
        margin: 0 0 20px;
    }
    #cp_store-banner .caption span {
        display: none;
    }
    #cp_store-banner .bx-wrapper .bx-controls-direction a {
        top: 35%;
    }
    #cp_store-banner .bx-wrapper .bx-prev {
        left: 10px;
    }
    #cp_store-banner .bx-wrapper .bx-next {
        right: 10px;
    }
    .cp_top-bar .left-box {
        padding: 8px 0;
    }
	.big-logo img{ height:100px;}
    #wrapper .padd-tb-80 {
        padding-top: 30px;
		padding-bottom: 30px;
    }
    #wrapper .padd-btm-80 {
        padding: 0 0 50px;
    }
	.form-group {
		margin-bottom: 2px;
	}
    .cp-heading-style-1 .holder {
        width: 100%;
    }
    .cp_hot-offers .box>img,
    .cp_product-section .box img,
    .blog-style-1 .box .thumb a,
    .blog-style-1 .box .thumb a img,
    .cp_categories-section .box .pull-right,
    .cp_history-section .thumb img,
    .cp-on-sale .img-box-1,
    .cp-on-sale .img-box-2,
    .cp_best-seller .item>ul li,
    .cp_best-seller .text-box .holder,
    .cp-on-sale .img-box-1,
    .cp-on-sale .img-box-2,
    .cp-on-sale .img-box-1 img,
    .cp-on-sale .img-box-2 img,
    .cp_hot-offer-2 .box,
    #cp_furniture-banner .caption .holder,
    .cp_hot-offer-3 .box img,
    .cp_parallax-section .holder,
    .cp_experties-section .col-md-6>img,
    .mp3-player-box,
    .cp_post-box blockquote,
    .cp-post-text-style-2 .holder,
    .cp_detail-social,
    .cp_commingsoon-style-1 .holder .text-box,
    .cp-contact-widget .box .thumb img,
    .portfolioContainer li .box,
    .portfolioContainer li .box .thumb,
    .product-detail-box .frame {
        width: 100%;
    }
    .portfolioFilter,
    .blog-style-1 .box,
    .cp_footer-section-1 .box,
    .cp_product-section .box {
        margin: 0 0 30px;
    }
    .testimonials-data {
        width: 100%;
        padding: 20px 30px;
    }
    .cp-arrivals-outer {
        margin: 20px 0 0;
    }
    .cp_brands-box .row .col-md-2 {
        width: 33.33%;
        margin: 0 0 20px;
        float: left;
    }
    #wrapper .slider-box #carousel {
        overflow: hidden;
    }
	.cp_new-releases{
		padding-bottom: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.customNavigation .prev {
		left: 20px;
	}
	.customNavigation .next {
		right: -20px;
	}
    .big-store h2,
    #cp_eye-wear-banner .caption em,
    .cp_gents-banner .caption strong.title {
        font-size: 16px;
        line-height: 16px;
       /* margin: 0 0 20px;*/
		margin: 10px 0;
    }
	
	.evt-info h3 {
		font-size: 14px;
	}
	
	cp-deals-list .text-box strong.title, .featured-items .text-box strong.title {
		font-size: 14px;
		line-height: 14px;
	}
	.date-box .day, .evt-date .day {
		font-size: 0.8em;
	}
	.date-box span {
		font-size: 0.8em;
		line-height: 18px;
	}

    .big-store h4 {
        font-size: 16px;
    }
    .cp-heading-style-1:before {
        top: 35px;
    }
    .blog-style-1 a.btn-style-1 {
        margin-top: 20px;
    }
    #cp_eye-wear-banner .caption {
        bottom: 100px;
    }
    #cp_eye-wear-banner .caption h1,
    #cp_store-banner .caption h1 {
        font-size: 40px;
        line-height: 44px;
    }
    .cp_categories-section .box .caption h3 {
        color: #111;
    }
    #cp_store-banner.cp_gents-banner .caption {
        bottom: 15px;
    }
    .cp_gents-store-header {
        padding: 0;
    }
    .cp_customer-section-4 {
        background-size: cover;
        padding: 30px 0;
    }
    .cp-heading-style-3 .holder,
    .cp_testimoniols-1,
    .cp_footer-form .holder {
        width: 100%;
    }
    .cp_customer-section-4 .cp_testimoniols-1 em {
        color: #fff;
    }
    #cp_jewellery-banner .caption {
        bottom: 50%;
    }
    #cp_jewellery-banner .caption .holder {
        width: 100%;
        margin: 0;
    }
    .cp_jewellery-banner-2 .bx-wrapper .bx-pager,
    .cp_jewellery-banner-2 .bx-wrapper .bx-controls-auto {
        bottom: 10%;
        left: 0;
        right: 0;
    }
    .cp_trends-section .holder {
        padding: 100px 30px;
    }
    #wrapper #customer-2-slider {
        float: left;
        width: 100%;
        padding: 0;
    }
    .cp_testimoniols-1 .thumb,
    .cp_choose-list {
        margin: 0 0 30px;
    }
    .cp_testimoniols-1 .thumb {
        display: inline-block;
    }
    .cp_shoes-store-header .cp-mega-menu ul .title {
        background-color: transparent;
    }
    .cp_shoes-store-header .cp-mega-menu>ul>li {
        background-color: #f5f5f5;
    }
    .cp_choose-tab-box .nav>li>a {
        font-size: 12px;
        padding: 13px 15px;
    }
    .footer-social-2 {
        margin: 35px 0;
    }
    .cp_footer-box address,
    .cp_hot-offer-2 .box .caption,
    .cp_hot-offer-2 .box,
    .cp_hot-offer-2 .box:first-child {
        margin-bottom: 30px;
    }
    .cp_best-seller .text-box {
        padding: 30px 20px;
    }
    .cp-on-sale .text-box {
        width: 100%;
        padding: 50px 30px;
    }
    .cp_testimoniols-1,
    .cp-on-sale .text-box .holder {
        width: 100%;
        text-align: center;
    }
    .cp_product-section .cp-heading-style-2 h2 {
        margin: 0;
    }
    .cp_gents-store-header {
        position: relative;
    }
    #cp_store-banner {
        margin: 0 0 30px;
    }
    .cp_furniture-header {
        padding: 0;
    }
    #cp_furniture-banner .caption {
        top: 30px;
    }
    .cp_parallax-section {
        padding: 70px 0;
    }
    .cp_parallax-section .holder strong.text,
    .cp_parallax-section .holder strong.title {
        font-size: 24px;
        line-height: 24px;
    }
    .cp_shipping-box {
        padding: 25px 0 25px 18px;
    }
    #cp_saloon-banner .caption {
        top: 30px;
    }
    #cp_saloon-banner .caption .holder h1,
    #cp_saloon-banner .caption .holder strong {
        font-size: 36px;
        line-height: 36px;
    }
    #cp_inner-banner .breadcrumb {
        width: 100%;
        text-align: center;
        margin: 0 0 20px;
    }
    #cp_inner-banner .breadcrumb ul li {
        float: none;
        display: inline-block;
    }
    .cp-post-text-style-1 {
        width: 100%;
        margin: 0;
    }
    .sidebar-box,
    .cp_experties-section ul li:last-child,
    .cp_shipping-box {
        margin: 0 0 20px;
    }
    .cp_best-services .text-box {
        padding-left: 0;
        max-width: 100%;
    }
    .cp_team {
        text-align: center;
    }
    .big-store .cp_team h2 {
        margin: 0;
    }
    .cp_price-box .holder {
        padding: 0 10px;
    }
    .price-box {
        margin-left: 0;
    }
    .comments ul ul {
        padding-left: 30px;
    }
    .error-page .holder strong.title {
        font-size: 150px;
        line-height: 100px;
        padding: 0 0 50px;
    }
    .error-page .holder span {
        font-size: 24px;
        line-height: 30px;
    }
    #wrapper #blog-masonrywrap .loop-entry,
    #gallery-grid-1-masonrywrap .loop-entry,
    #blog-masonrywrap-2 .loop-entry {
        width: 100%!important;
        left: 0!important;
    }
    .cp_pagination .pagination {
        margin: 30px 0 0;
    }
    .cp-book-slider-row .right {
        padding: 30px 20px;
    }
    .cp-book-slider-row .left,
    .cp-book-slider-row .right {
        width: 100%
    }
    .cp-book-slider-row .right h2 {
        font-size: 30px;
        line-height: 36px;
    }
    .cp-book-slider-row .right h3 {
        font-size: 24px;
    }
    .cp-book-slider-row .right .btn-style-3,
    .cp_best-seller-section .cp-heading-style-2 {
        margin: 0 0 20px;
    }
    .cp-book-slider-row .bottom-holder p {
        color: #111111;
    }
    .cp-release-row {
        padding-bottom: 0;
    }
    .cp_customer-section-4 .cp_testimoniols-1 {
        width: 100%;
    }
    .cp_customer-section-4 .cp_testimoniols-1 strong.name {
        color: #fff;
    }
    .cp_best-seller-section .holder {
        padding: 0 20px 30px;
    }
    .cp_customer-section-7 .cp-heading-style-2 {
        margin: 0;
    }
    .cp-book-slider-row .bottom-holder .cp-read-more,
    .cp-book-slider-row .cp-read-more:before {
        color: #111;
        border-color: #111;
    }
    .cp_commingsoon-style-1 .holder {
        padding: 50px 0;
    }
    .cp_commingsoon-style-1 .holder .timer-box {
        margin: 0 0 20px;
    }
    .cp_commingsoon-style-1 .countdown-amount {
        font-size: 40px;
        line-height: 40px;
    }
    .cp_commingsoon-style-1 .countdown-period {
        font-size: 16px;
    }
    .cp_commingsoon-style-1 .countdown-section {
        width: 100px;
        float: none;
        display: inline-block;
        margin: 0 15px 20px;
    }
    .cp_commingsoon-style-1 .holder .text-box h1 {
        font-size: 40px;
        line-height: 40px;
        margin: 0 0 30px;
    }
    .cp_commingsoon-style-1 .holder .text-box strong.title {
        font-size: 20px;
        line-height: 20px;
    }
    .commingsoon-social {
        margin: 30px 0 0;
    }
    .portfolioContainer {
        margin: 0;
    }
    .portfolioContainer li {
        margin: 0 0 30px;
        width: 100%;
        float: left;
    }
    .cp_contact-style-6 form {
        width: auto;
    }
    .cp_contact-style-2 .map_canvas {
        height: 300px;
        margin: 0 0 30px;
    }
    .cp_aaccordion-row {
        margin-bottom: 20px;
    }
    .cp_hot-offer-2 .box .caption .holder {
        padding-top: 7%;
    }
    .cp_product-section .box .thumb .caption {
        bottom: -55px;
    }
    .cp_shoes-store-header {
        position: relative;
        padding: 0;
    }
    #cp_furniture-banner .caption .holder {
        text-align: center;
    }
    #cp_furniture-banner .caption .holder a.btn-style-3 {
        display: inline-block;
        float: none;
    }
    #cp_furniture-banner.cp_woman-banner .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto {
        left: 0;
        width: 100%;
        bottom: 10%;
    }
    .big-store .cp-mega-menu h2 {
        margin: 0;
    }
    .cp_text-gallery .frame iframe {
        height: 300px;
    }
    .cp-mega-menu ul .search-bar {
        line-height: 50px;
    }
    .cp-on-sale .img-box-1,
    .cp-on-sale .img-box-2,
    .cp-on-sale .img-box-1 img,
    .cp-on-sale .img-box-2 img {
        height: auto;
        min-height: auto;
    }
    .cp-arrivals-outer {
        margin-bottom: 30px;
    }
    .cp-signup-box,
    .cp-login-box {
        width: 100%;
    }
    .cp_facts-box {
        margin: 15px 0;
    }
    #cp_furniture-banner .caption .holder strong.title {
        font-size: 48px;
        line-height: 48px;
    }
    #cp_furniture-banner .caption .holder h1 {
        font-size: 36px;
        line-height: 36px;
    }
    .cp_tweets-box .fa {
        font-size: 40px;
        line-height: 40px;
        margin: 0 20px 0 0;
    }
    .image-box img {
        width: 100%;
    }
    .tab-text-box .slider-box .bx-wrapper .bx-pager,
    .tab-text-box .slider-box .bx-wrapper .bx-controls-auto {
        top: inherit;
        bottom: 0;
    }
    .tab-text-box .slider-box .bx-wrapper .bx-pager.bx-default-pager a {
        background-color: #000;
    }
    .cp-signup-box,
    .cp-login-box {
        padding: 20px 30px;
    }
    .cp_footer-list li {
        padding-bottom: 10px;
    }
    .cp_footer-list li a {
        padding: 5px 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cp_bg_white {
		padding-bottom: 20px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.cp-mega-menu>ul>.title {
        min-width: 15%;
    }
    .cp-mega-menu>ul>li>a {
        font-size: 14px;
        line-height: 50px;
        padding: 0 12px;
    }
    .cp-mega-menu ul .search-bar {
        line-height: 60px;
        padding: 0 3px;
    }
    .right-box {
        margin: 10px 0 0;
    }
    #cp_store-banner .caption {
        height: auto;
        top: 50px;
        left: 0;
        text-align: center;
    }
    #cp_store-banner .caption .holder {
        max-width: 100%;
    }
    #cp_store-banner .caption em,
    #cp_shoes-banner .caption .holder em {
        font-size: 20px;
        line-height: 20px;
        padding: 0 0 30px;
    }
    #cp_store-banner .caption h1,
    #cp_shoes-banner .caption .holder h1 {
        font-size: 48px;
        line-height: 48px;
        margin: 0 0 20px;
    }
    #cp_store-banner .caption span {
        display: none;
    }
    #cp_store-banner .bx-wrapper .bx-controls-direction a {
        top: 35%;
    }
    #cp_store-banner .bx-wrapper .bx-prev {
        left: 10px;
    }
    #cp_store-banner .bx-wrapper .bx-next {
        right: 10px;
    }
    .cp_hot-offers .box>img,
    .cp_product-section .box img,
    .blog-style-1 .box .thumb a,
    .blog-style-1 .box .thumb a img,
    .cp_categories-section .box .pull-right,
    .cp_history-section .thumb img,
    #cp_jewellery-banner .caption .holder,
    #cp_shoes-banner .caption .holder,
    .cp-on-sale .text-box .holder,
    .cp_parallax-section .holder {
        width: 100%;
    }
    .cp_hot-offer-2 .box .caption .holder {
        padding-top: 5%;
    }
    .cp_hot-offer-2 .box .caption .holder a h3 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .cp_hot-offer-2 .box .caption .holder strong.title {
        font-size: 14px;
        line-height: 14px;
    }
    .cp_brands-box .row .col-md-2 {
        width: 33.33%;
        margin: 0 0 20px;
        float: left;
    }
    .cp_footer-section-1 .box,
    .cp_choose-list,
    .cp_hot-offer-2 .box .caption,
    .cp_shipping-box {
        margin: 0 0 30px;
    }
    #cp_eye-wear-banner .caption {
        bottom: 50px;
    }
    .cp_jewellery-banner-2 .bx-wrapper .bx-pager,
    .cp_jewellery-banner-2 .bx-wrapper .bx-controls-auto {
        left: 0;
        right: 0;
        bottom: 10%;
    }
    .cp_trends-section .holder {
        padding: 50px 20px 50px;
    }
    .cp_trends-section .holder h3 {
        margin: 0 0 25px;
    }
    #cp_shoes-banner .caption {
        top: 150px;
    }
    .cp_choose-tab-box .nav>li>a {
        padding: 12px 24px;
    }
    .cp_best-seller .text-box {
        padding: 30px 20px;
    }
    .cp-on-sale .text-box {
        width: 100%;
        padding: 50px 30px;
    }
    .cp-on-sale .img-box-1,
    .cp-on-sale .img-box-2 {
        width: 50%;
    }
    .cp_gents-store-header {
        padding: 0;
    }
    #cp_store-banner.cp_gents-banner .caption {
        bottom: 20px;
    }
    #cp_furniture-banner .caption {
        top: 50px;
    }
    .cp_parallax-section {
        padding: 100px 0;
    }
    .cp_parallax-section .holder strong.text,
    .cp_parallax-section .holder strong.title {
        font-size: 40px;
        line-height: 40px;
    }
    .cp_shipping-box {
        padding: 25px 0 25px 18px;
    }
    #cp_saloon-banner .caption {
        top: 100px;
    }
    #cp_inner-banner .breadcrumb {
        width: 100%;
        text-align: center;
        margin: 0 0 20px;
    }
    #cp_inner-banner .breadcrumb ul li {
        float: none;
        display: inline-block;
    }
    .cp_team {
        text-align: center;
    }
    .cp_commingsoon-style-1 .countdown-amount {
        font-size: 50px;
        line-height: 50px;
    }
    .cp_commingsoon-style-1 .countdown-period {
        font-size: 16px;
    }
    .cp_commingsoon-style-1 .countdown-section {
        width: 130px;
        float: none;
        display: inline-block;
        margin: 0 15px;
    }
    .portfolioContainer li {
        width: 45%;
        float: left;
        margin: 0 10px 30px;
    }
    .portfolioContainer {
        margin: 0;
    }
    .portfolioContainer li .box {
        float: left;
        width: 100%;
    }
    .portfolioContainer li .box .thumb img {
        width: 100%;
    }
    .cp_hot-offers .box .caption .holder {
        padding-top: 10%;
    }
    .cp_hot-offers .box .caption .holder h3 {
        font-size: 20px;
        line-height: 20px;
    }
    .cp_hot-offers .box .caption .holder strong {
        font-size: 14px;
        line-height: 14px;
    }
    .cp-arrivals-outer {
        margin-bottom: 30px;
    }
    .cp-signup-box {
        width: 100%;
    }
    #wrapper .padd-tb-80 {
        padding-top: 50px;
		padding-bottom: 50px;
    }
    #wrapper .padd-btm-80 {
        padding-bottom: 50px;
    }
    .cp_footer-form .holder,
    .cp-heading-style-3 .holder {
        width: 100%;
    }
    .cp_facts-box {
        margin: 20px 0;
    }
    #cp_furniture-banner .caption .holder {
        width: 100%;
        float: left;
        text-align: center;
    }
    .releases-box .caption {
        left: 15px;
    }
    .releases-box .caption h2,
    .release-item h3 {
        font-size: 24px;
        line-height: 24px;
    }
    .cp-book-slider-row .right {
        padding-top: 50px;
    }
    .cp-book-slider-row .right h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .cp-book-slider-row .right .btn-style-3 {
        margin-bottom: 50px;
    }
    .cp-book-slider-row .bottom-holder .outer {
        width: 100%;
    }
    .cp-book-slider-row .bottom-holder p {
        color: #000;
    }
    .cp_shipping-box {
        text-align: center;
    }
    .cp_shipping-box .cp_icon {
        float: none;
        margin: 0 15px 15px 0;
    }
    .cp_customer-section-4 .cp_testimoniols-1 strong.name,
    .cp_customer-section-4 .cp_testimoniols-1 a.web {
        color: #fff;
    }
    .cp_parallax-section .holder strong.text,
    .cp_parallax-section .holder strong.title {
        font-size: 30px;
        line-height: 30px;
    }
    .releases-box .caption strong.title {
        font-size: 20px;
        line-height: 20px;
    }
    #cp_furniture-banner .caption .holder a.btn-style-3 {
        float: none;
    }
    .cp_footer-list li {
        padding-bottom: 10px;
    }
    .cp_footer-list li a {
        padding: 5px 10px;
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .cp_categories-section .box,
    .cp_hot-offers .box {
        margin: 0;
    }
    #cp_electronic-banner .caption {
        top: 290px;
    }
    .error-page .holderP {
        width: 770px;
    }
    .cp_commingsoon-style-1 .holder .timer-box {
        width: 1040px;
    }
    .cp_contact-style-2 .holder form {
        width: 750px;
        margin: 0 auto;
    }
    .cp_contact-style-2 .holder {
        width: 930px;
        margin: 0 auto 80px;
    }
    .cp_testimoniols-1 {
        margin: 0 auto;
        width: 915px;
    }
    .cp-on-sale .text-box {
        width: 44%;
    }
    .cp-on-sale .img-box-1,
    .cp-on-sale .img-box-2 {
        height: 500px;
        overflow: hidden;
        width: 28%;
    }
    .cp-on-sale .img-box-1 img,
    .cp-on-sale .img-box-2 img {
        min-height: 500px;
        width: 100%;
    }
    .cp_best-seller .text-box .holder {
        width: 370px;
    }
    .cp-book-slider-row .right .btn-style-3 {
        margin: 0 0 150px;
    }
}

@media (min-width: 1366px) {
    .cp_trends-section .holder {
        padding: 100px 30px;
    }
    #cp_electronic-banner {
        height: 900px;
    }
    .cp_best-seller .text-box {
        padding: 110px 80px 30px;
    }
    .cp-on-sale .text-box {
        padding: 123px 80px 50px 170px;
    }
    .cp-on-sale .img-box-1,
    .cp-on-sale .img-box-2 {
        height: 595px;
        overflow: hidden;
        width: 28%;
    }
    .cp-on-sale .img-box-1 img,
    .cp-on-sale .img-box-2 img {
        min-height: 595px;
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .cp_trends-section .holder {
        padding: 227px 48px 226px;
    }
}